/* Global styles */

@import "@angular/material/prebuilt-themes/azure-blue.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #0b1220;
  color: #e7eefc;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
  color: inherit;
}
